.court {
  .court__section {
  }
  .court__section--qas {
    display: flex;
    width: 100%;

    .quarter {
      order: 2;
      width: 30%;
    }
    .team--home {
      order: 1;
      width: 35%;
    }
    .team--away {
      order: 3;
      width: 35%;
    }
  }

  .quarter {
    text-align: center;
  }
  .team {
    text-align: center;
  }
  .team--home {
    color: var(--home-color);
  }
  .team--away {
    color: var(--away-color);
  }
}
