.court {
  display: flex;
  flex-direction: column;

  & > section {
    width: 100%;
    background-color: white;
  }
  & > section + section {
    margin-top: 6px;
  }

  .quarter-score {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .quarter {
      order: 2;
    }
    .score--home {
      order: 1;
    }
    .score--away {
      order: 3;
    }
  }
  .quarter {
    text-align: center;
    font-size: 60px;
  }
  .score {
    .score__team-name {
      display: block;
      width: 100%;
      font-size: 30px;
      font-weight: bold;
      border: none;
      outline: none;
    }
    .score__team-score {
      line-height: 0.6;
      font-size: 72px;
      font-weight: bold;
      pointer-events: none;
    }
  }
  .score--home {
    text-align: left;
    color: var(--home-color);
    .score__team-name {
      text-align: left;
      color: var(--home-color);
    }
  }
  .score--away {
    text-align: right;
    color: var(--away-color);
    .score__team-name {
      text-align: right;
      color: var(--away-color);
    }
  }

  .clocks {
  }
  .game_clock {
    display: flex;
    justify-content: space-between;

    .time {
      order: 2;
    }
    .clock_btns {
      display: flex;
      flex-direction: column;
      margin: auto 3px;
      width: 36px;
      height: 60px;
      border-radius: 6px;
      overflow: hidden;
    }
    .clock_btns--left {
      order: 1;
    }
    .clock_btns--right {
      order: 3;
      .clock_btn {
        margin-left: auto;
      }
    }
    .clock_btn {
      display: block;
      flex: 1;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      border-radius: 0;

      & + .clock_btn {
        margin-top: 1px;
      }
    }
  }

  .clock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .times {
      order: 2;
    }
    .reset-btn--14 {
      margin-left: 12px;
      order: 1;
    }
    .reset-btn--24 {
      margin-right: 12px;
      order: 3;
    }
  }
  .times {
  }
  .time {
    width: 100%;
    text-align: center;
    color: #ccc;
    cursor: pointer;
  }
  .time--game {
    padding-top: 6px;
    line-height: 1.2;
    font-size: 90px;
  }
  .time--shot {
    padding-bottom: 6px;
    line-height: 0.9;
    font-size: 60px;
  }
  .time--running {
    color: black;
  }

  .reset-btn {
    margin-bottom: 12px;
    align-self: flex-end;
    width: 18%;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
  }
  .reset-btn--14 {
  }
  .reset-btn--24 {
  }

  .player-lists {
    display: flex;
    background-color: #eee;
  }
  .player-list {
    margin: 0;
    padding: 0;
    flex: 1;
    height: 100%;
  }
  .player-list + .player-list {
    margin-left: 6px;
  }

  .player {
    margin: 0;
    list-style: none;
    display: flex;
    background-color: white;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);

    .player__number {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 48px;
      color: white;
    }
    .player__info {
      padding: 6px 0 3px 0;
      flex: 1;
      text-align: center;
    }
    .player__name {
      line-height: 1.2;
      font-size: 18px;
    }
    .player__stat {
      font-size: 12px;
    }
  }
  .player + .player {
    margin-top: 6px;
  }
  .player-list--home .player {
    .player__number {
      background-color: var(--home-color);
    }
  }
  .player-list--away .player {
    .player__number {
      order: 2;
      background-color: var(--away-color);
    }
    .player__info {
      order: 1;
    }
  }
}
