header {
  margin-bottom: 6px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: white;

  .header-btn {
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 0;
    background: none;
    background-size: contain;
  }
  .header-btn--menu {
    background-image: url('../../Asset/Image/menu-icon.png');
  }
  .header-btn--edit {
    background-image: url('../../Asset/Image/edit-icon.png');
  }

  .header-title {
    font-size: 24px;
    padding-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

footer {
  padding: 60px 12px 30px 12px;

  .footer-menus {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .footer-menu {
    color: #999;
    list-style: none;

    a {
      color: #999;
    }
  }
  .footer-menu + .footer-menu::before {
    padding: 0 12px;
    content: '|';
  }
}
