header {
  margin-bottom: 6px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: white;

  .header-btn {
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 0;
    background: none;
    background-size: contain;
  }
  .header-btn--menu {
    background-image: url('../../Asset/Image/menu-icon.png');
  }
  .header-btn--edit {
    background-image: url('../../Asset/Image/edit-icon.png');
  }

  .header-title {
    font-size: 24px;
    padding-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

footer {
  padding: 60px 12px 30px 12px;

  .footer-menus {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .footer-menu {
    color: #999;
    list-style: none;

    a {
      color: #999;
    }
  }
  .footer-menu + .footer-menu::before {
    padding: 0 12px;
    content: '|';
  }
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transition: 0.1s background-color;
  --nav-width: 210px;
}
.nav-wrapper[nav-open='true'] {
  pointer-events: visible;
  background-color: rgba($color: black, $alpha: 0.3);

  nav {
    left: 0;
  }
}

nav {
  position: absolute;
  top: 0;
  left: calc(var(--nav-width) * -1);
  width: var(--nav-width);
  height: 100%;
  color: white;
  background-color: black;
  transition: 0.1s left;
}
