body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;

  --home-color: #de5285;
  --away-color: #00a4b4;
}

button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);
}
