body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;

  --home-color: #de5285;
  --away-color: #00a4b4;
}

body,
button,
input {
  font-family: Teko, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.1);
}
